@{
    ViewData["Title"] = "Prados del Condado";
}


   
                    <div class="card">
                        <div class="card-header">


                        </div>
                        <div class="card-body ">
                           
                                       <img src="~/tmp/logo80.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-5"
                                             style="opacity: .8;" width="100px">
                                        <h2><strong>@ViewData["Title"]</strong></h2>
                                        </br>
                                        </br>
                                        <h3>Gracias por visitar su pagina Urbanización Prados del Condado</h3>
                                        </br>
                                        </br>
                                    </div>
                                </div>

                    
            
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- jQuery -->






