@model Prados.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2 class="text-titles" style="text-align:center">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </i><strong> Registrar Nueva Persona</strong>
                    </h2>
                   
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index1">Inicio</a></li>
                        <li class="breadcrumb-item active">Formulario General</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>



    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">




                    <!-- Input addon -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Crear Nuevo</h3>
                        </div>
                        <div class="card-body">



                            
                                
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Usuario, tipo y n° lote -->
                        <div class="form-row" style="margin-top:10px">

                                    <div class="form-group col-md-6">
                                        <label for="inputCity" style="font-size:18px">Correo</label>
                                        <input asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    @*TIPO DE PERSONA*@
                                    <div class="form-group col-md-4">
                                        <label asp-for="TPId" class="control-label" style="font-size:18px"></label>
                                        <select asp-for="TPId" asp-items="Model.TipoPersonaVM" class="form-control"></select>
                                        <span asp-validation-for="TPId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label asp-for="PRO_LOTE" class="control-label" style="font-size:18px"></label>
                                        <input asp-for="PRO_LOTE" class="form-control" />
                                        <span asp-validation-for="PRO_LOTE" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-row" style="margin-top:10px">

                                    <!--Tipo vivienda, nombre y apellidos -->
                                    <div class="form-group col-md-4">
                                        <label asp-for="TVId" class="control-label" style="font-size:18px"></label>
                                        <select asp-for="TVId" asp-items="Model.TipoViviendaVM" class="form-control"></select>
                                        <span asp-validation-for="TVId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label asp-for="PRO_NOMBRES" class="control-label" style="font-size:18px"></label>
                                        <input asp-for="PRO_NOMBRES" class="form-control" />
                                        <span asp-validation-for="PRO_NOMBRES" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label asp-for="PRO_APELLIDOS" class="control-label" style="font-size:18px"></label>
                                        <input asp-for="PRO_APELLIDOS" class="form-control" />
                                        <span asp-validation-for="PRO_APELLIDOS" class="text-danger"></span>
                                    </div>
                                </div>




                                <!--Observaciones -->

                                <div class="form-group col-md-12">
                                    <label asp-for="PRO_OBSERVACIONES" class="control-label" style="font-size:18px"></label>
                                    <textarea asp-for="PRO_OBSERVACIONES" class="form-control"></textarea>
                                    <span asp-validation-for="PRO_OBSERVACIONES" class="text-danger"></span>

                                </div>


                                <div class="form-row" style="margin-top:10px">
                                    <!--Telefono, tipo de identificación y identiciación-->


            <div class="form-group col-md-4">
                <label asp-for="PRO_TELEFONO" class="control-label" style="font-size:18px"></label>
                <input asp-for="PRO_TELEFONO" class="form-control" />
                <span asp-validation-for="PRO_TELEFONO" class="text-danger"></span>
            </div>
            @*TIPO DE IDENTIFICACION*@
            <div class="form-group col-md-4">
                <label asp-for="TIId" class="control-label" style="font-size:18px"></label>
                <select asp-for="TIId" asp-items="Model.TipoIdentificacionVM" class="form-control"></select>
                <span asp-validation-for="TIId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PRO_IDENTIFICACION" class="control-label" style="font-size:18px"></label>
                <input asp-for="PRO_IDENTIFICACION" class="form-control" />
                <span asp-validation-for="PRO_IDENTIFICACION" class="text-danger"></span>
            </div>
            <!-- Password 1 y 2-->
            <div class="form-group col-md-6">
                <label asp-for="Password" class="control-label" style="font-size:18px"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PasswordConfirm" class="control-label" style="font-size:18px"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">
                    <i aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </i>
                </a>
            </div>
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>

                            </form>
                            


                            <!-- /input-group -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- Horizontal Form -->
                    <!-- /.card -->
                    <!--/.col (left) -->
                    <!-- right column -->
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
























@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
